interactions:
- request:
    body: '{"properties": {"name": "clitestrepo"}}'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
<<<<<<< HEAD:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_pnp.yaml
      - python/3.7.1 (Windows-10-10.0.17763-SP0) msrest/0.6.8 digitaltwinrepositoryprovisioningservice/v1
=======
      - python/3.7.3 (Windows-10-10.0.18922-SP0) msrest/0.6.8 digitaltwinrepositoryprovisioningservice/v1
>>>>>>> Test run updates - fixed error in test certificate start time in DPS verify test:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_digitialtwin.yaml
    method: PUT
    uri: https://provider.azureiotrepository-test.com/repositories?api-version=2019-07-01-Preview
  response:
    body:
<<<<<<< HEAD:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_pnp.yaml
      string: '{"status":"Provisioned","provisioningState":"dc3127e18f0f4573a125114baeaad98a","id":"621158b3145e471b99b3f9f4379e5026","pollBackUri":null}'
=======
      string: '{"status":"Provisioned","provisioningState":"72da99435f724ff5bed613470f93472f","id":"c85b52edf8e1423cad7b644dd27f4f48","pollBackUri":null}'
>>>>>>> Test run updates - fixed error in test certificate start time in DPS verify test:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_digitialtwin.yaml
    headers:
      content-type:
      - application/json; charset=utf-8
<<<<<<< HEAD:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_pnp.yaml
      - Tue, 23 Jul 2019 17:03:29 GMT
      server:
      - Kestrel
      set-cookie:
      - ARRAffinity=87ca36d9eab96cb0d1b623eebad83f4ffc82d3755d0e96a20ce504b583eead85;Path=/;HttpOnly;Domain=provider.azureiotrepository-test.com
=======
      - Wed, 26 Jun 2019 17:27:59 GMT
      server:
      - Kestrel
      set-cookie:
      - ARRAffinity=d29ec50e2353fd96ac8ed72619c1a2fb36a21ed6c3f22a5075cd2c606bb89829;Path=/;HttpOnly;Domain=provider.azureiotrepository-test.com
>>>>>>> Test run updates - fixed error in test certificate start time in DPS verify test:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_digitialtwin.yaml
      strict-transport-security:
      - max-age=31536000; includeSubDomains
      transfer-encoding:
      - chunked
      vary:
      - Accept-Encoding
      x-content-type-options:
      - nosniff
      x-powered-by:
      - ASP.NET
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_pnp.yaml
      - python/3.7.1 (Windows-10-10.0.17763-SP0) msrest/0.6.8 digitaltwinrepositoryprovisioningservice/v1
    method: GET
    uri: https://provider.azureiotrepository-test.com/repositories/621158b3145e471b99b3f9f4379e5026/status/dc3127e18f0f4573a125114baeaad98a?api-version=2019-07-01-Preview
  respons[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_pnp.yaml
      - python/3.7.1 (Windows-10-10.0.17763-SP0) msrest/0.6.8 digitaltwinrepositoryprovisioningservice/v1
=======
      - python/3.7.3 (Windows-10-10.0.18922-SP0) msrest/0.6.8 digitaltwinrepositoryprovisioningservice/v1
>>>>>>> Test run updates - fixed error in test certificate start time in DPS verify test:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_digitialtwin.yaml
    method: GET
    uri: https://provider.azureiotrepository-test.com/repositories?api-version=2019-07-01-Preview
  response:
    body:
<<<<<<< HEAD:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_pnp.yaml
      string: '[{"id":"621158b3145e471b99b3f9f4379e5026","name":"clitestrepo-updated","type":"{resourceProviderNamespace}/repository","properties":{"id":"621158b3145e471b99b3f9f4379e5026","tenantId":"beea802c-319f-4438-8a03-e03255ff460e","tenantName":"beea802c-319f-4438-8a03-e03255ff460e","kind":"Repository","createdOn":"2019-07-23T17:03:29.605679Z","updatedOn":"2019-07-23T17:03:33.5354398Z"}}]'
    headers:
      content-type:
      - application/json; charset=utf-8
=======
      string: '[{"id":"dd650e3845ef4028816ba6e9121911de","name":"ADB - microsoft.com","type":"{resourceProviderNamespace}/repository","properties":{"id":"dd650e3845ef4028816ba6e9121911de","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","tenantName":"microsoft.com","kind":"Repository","createdOn":"0001-01-01T00:00:00","lastUpdated":"0001-01-01T00:00:00"}},{"id":"413c5961e76d4f72a578bab8b8ecc3d7","name":"Repo13","type":"{resourceProviderNamespace}/repository","properties":{"id":"413c5961e76d4f72a578bab8b8ecc3d7","tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","tenantName":"microsoft.com","kind":"Repository","createdOn":"0001-01-01T00:00:00","lastUpdated":"0001-01-01T00:00:00"}},{"id":"b2ee85c678834654aeae16dc37ddd06b","name":"vsc-bugbash","type":"{resourceProviderNamespace}/repository","properties":{"id":"b2ee85c678834654[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_pnp.yaml
      - python/3.7.1 (Windows-10-10.0.17763-SP0) msrest/0.6.8 digitaltwinrepositoryprovisioningservice/v1
    method: GET
    uri: https://provider.azureiotrepository-test.com/repositories/621158b3145e471b99b3f9f4379e5026?api-version=2019-07-01-Preview
  response:
    body:
      string: '{"id":"62115[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_pnp.yaml
      - python/3.7.1 (Windows-10-10.0.17763-SP0) msrest/0.6.8 digitaltwinrepositoryprovisioningservice/v1
    method: GET
    uri: https://provider.azureiotrepository-test.com/repositories/621158b3145e471b99b3f9f4379e5026/authKeys?api-version=2019-07-01-Preview
=======
      - python/3.7.3 (Windows-10[...]
- request:
    body: '{"properties": {"userRole": "reader"}}'
    headers:
      Content-Type:
      - application/json-patch+json; charset=utf-8
<<<<<<< HEAD:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_pnp.yaml
      - python/3.7.1 (Windows-10-10.0.17763-SP0) msrest/0.6.8 digitaltwinrepositoryprovisioningservice/v1
    method: PUT
    uri: https://provider.azureiotrepository-test.com/repositories/621158b3145e471b99b3f9f4379e5026/authKeys?api-version=2019-07-01-Preview
  response:
    body:
      string: '{"id":"6b879e1052f64a689884abe3fb6c2428","repositoryId":"621158b3145e471b99b3f9f4379e5026","userRole":"Reader","secret":"IxOXc8uLde/huoHACf8l+UFn94GhnU5QCCwjEeMXj9lRHj7N+TngqenyTRtJ8ap0UCzJQF9L6yH0edqSosEvoA==","tenantId":"beea802c-319f-4438-8a03-e03255ff460e","tenantName":"beea802c-319f-4438-8a03-e03255ff460e","createdOn":"2019-07-23T17:03:42.0699322Z","updatedOn":"2019-07-23T17:03:42.0699322Z","connectionString":"HostName=https://repo.azureiotrepository-test.com;RepositoryId=621158b3145e471b99b3f9f4379e5026;SharedAccessKeyName=6b879e1052f64a689884abe3fb6c2428;SharedAccessKey=IxOXc8uLde/huoHACf8l+UFn94GhnU5QCCwjEeMXj9lRHj7N+TngqenyTRtJ8ap0UCzJQF9L6yH0edqSosEvoA==","serviceEndpoint":"https://repo.azureiotrepository-test.com"}'
=======
      - python/3.7.3 (Windows-10-10.0.18922-SP0) msrest/0.6.8 digitaltwinrepositoryprovisioningservice/v1
    method: PUT
    uri: https://provider.azureiotrepository-test.com/repositories/c85b52edf8e1423cad7b644dd27f4f48/authKeys?api-version=2019-07-01-Preview
  response:
    body:
      string: '{"id":"c80204aaa8a642da92caec3222b48ecd","repositoryId":"c85b52edf8e1423cad7b644dd27f4f48","userRole":"Reader","secret":"OsWJhP5f8dP0SV3YQv0mpy/2V/W[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json; charset=utf-8
<<<<<<< HEAD:src/azure-cli/azure/cli/command_modules/iot/tests/latest/recordings/test_iot_pnp.yaml
      - python/3.7.1 (Windows-10-10.0.17763-SP0) msrest/0.6.8 digitaltwinrepositoryprovisioningservice/v1
    method: GET
    uri: https://provider.azureiotrepository-test.com/repositories/621158b3145e471b99b3f9f4379e5026/authKeys/6b879e1052f64a689884abe3fb6c2428?api-version=2019-07-01-Preview
  respo[...]
[...]
