interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Storage/storageAccounts?api-version=2025-06-01
  response:
    body:
      string: '{"value":[{"sku":{"name":"Standard_RAGRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/raharri/providers/Microsoft.Storage/storageAccounts/a11ydeviceupdates","name":"a11ydeviceupdates","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{},"properties":{"dnsEndpointType":"Standard","defaultToOAuthAuthentication":false,"publicNetworkAccess":"Enabled","keyCreationTime":{"key1":"2022-12-15T18:53:52.3806415Z","key2":"2022-12-15T18:53:52.3806415Z"},"allowCrossTenantReplication":true,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"allowSharedKeyAccess":false,"networkAcls":{"ipv6Rules":[],"resourceAccessRules":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Security/datascanners/storageDataScanner"}],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[{"value":"157.58.216.97","action":"Allow"}],"defaultAction":"Deny"},"supportsHttpsTrafficOnly":true,"encryption":{"requireInfrastructureEncryption":false,"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-12-15T18:53:52.3962689Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2022-12-15T18:53:52.3962689Z"}},"keySource":"Microsoft.Storage"},"accessTier":"Hot","provisioningState":"Succeeded","creationTime":"2022-12-15T18:53:52.2400169Z","primaryEndpoints":{"dfs":"https://a11ydeviceupdates.dfs.core.windows.net/","web":"https://a11ydeviceupdates.z13.web.core.windows.net/","blob":"https://a11ydeviceupdates.blob.core.windows.net/","queue":"https://a11ydeviceupdates.queue.core.windows.net/","table":"https://a11ydeviceupdates.table.core.windows.net/","file":"https://a11ydeviceupdates.file.core.windows.net/"},"primaryLocation":"eastus","statusOfPrimary":"available","secondaryLocation":"westus","statusOfSecondary":"available","secondaryEndpoints":{"dfs":"https://a11ydeviceupdates-secondary.dfs.core.windows.net/","web":"https://a11ydeviceupdates-secondary.z13.web.core.windows.net/","blob":"https://a11ydeviceupdates-secondary.blob.core.windows.net/","queue":"https://a11ydeviceupdates-secondary.queue.core.windows.net/","table":"https://a11ydeviceupdates-secondary.table.core.windows.net/"}}},{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"StorageV2","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cloud-shell-storage-eastus/providers/Microsoft.Storage/storageAccounts/cs210032001c8853a3f","name":"cs210032001c8853a3f","type":"Microsoft.Storage/storageAccounts","location":"eastus","tags":{"ms-resource-usage":"azure-cloud-shell"},"properties":{"defaultToOAuthAuthentication":false,"publicNetworkAccess":"Enabled","keyCreationTime":{"key1":"2022-09-06T19:47:02.5447463Z","key2":"2022-09-06T19:47:02.5447463Z"},"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"allowSharedKeyAccess":false,"networkAcls":{"ipv6Rules":[],"resourceAccessRules":[{"tenantId":"72f988bf-86f1-41af-91ab-2d7cd011db47","resourceId":"/subscriptions/00000000-0000-0000-0000-000000000000/providers/[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2025-06-01&$expand=kerb
  response:
    body:
      string: '{"keys":[{"creationTime":"2025-11-07T20:27:36.5481391Z","keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"creationTime":"2025-11-07T20:27:36.5481391Z","keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Fri, 07 Nov 2025 20:27:57 GMT
      x-ms-version:
      - '2022-11-02'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/iothubcontainer1000004?restype=container
  response:
    body:
      string: ''
    headers:
      etag:
      - '"0x8DE1E3C23B5B7C4"'
      last-modified:
      - Fri, 07 Nov 2025 20:27:57 GMT
      x-ms-version:
      - '2022-11-02'
    status:
      code: 201
      message: Created
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002?api-version=2025-06-01
  response:
    body:
      string: '{"sku":{"name":"Standard_LRS","tier":"Standard"},"kind":"Storage","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Storage/storageAccounts/clitest000002","name":"clitest000002","type":"Microsoft.Storage/storageAccounts","location":"westus","tags":{},"properties":{"allowCrossTenantDelegationSas":false,"keyCreationTime":{"key1":"2025-11-07T20:27:36.5481391Z","key2":"2025-11-07T20:27:36.5481391Z"},"allowCrossTenantReplication":false,"privateEndpointConnections":[],"minimumTlsVersion":"TLS1_2","allowBlobPublicAccess":false,"networkAcls":{"ipv6Rules":[],"bypass":"AzureServices","virtualNetworkRules":[],"ipRules":[],"defaultAction":"Allow"},"supportsHttpsTrafficOnly":true,"encryption":{"services":{"file":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-11-07T20:27:36.5481391Z"},"blob":{"keyType":"Account","enabled":true,"lastEnabledTime":"2025-11-07T20:27:36.5481391Z"}},"keySource":"Microsoft.Storage"},"provisioningState":"Succeeded","creationTime":"2025-11-07T20:27:36.3450620Z","primaryEndpoints":{"blob":"https://clitest000002.blob.core.windows.net/","queue":"https://clitest000002.queue.core.windows.net/","table":"https://clitest000002.table.core.windows.net/","file":"https://clitest000002.file.core.windows.net/"},"primaryLocation":"westus","statusOfPrimary":"available"}}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2024-11-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","type":"Microsoft.Resources/resourceGroups","location":"westus2","tags":{"product":"azurecli","cause":"automation","test":"test_iot_hub","date":"2025-11-07T20:27:32Z","module":"iot"},"properties":{"provisioningState":"Succeeded"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{"location": "westus2", "sku": {"name": "Standard", "tier": "Standard"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000005?api-version=2024-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000005","name":"ehNamespaceiothubfortest1000005","type":"Microsoft.EventHub/Namespaces","location":"westus2","tags":{},"properties":{"errors":[],"geoDataReplication":{"maxReplicationLagDurationInSeconds":0,"locations":[{"locationName":"westus2","roleType":"Primary","replicaState":"InBuild"}]},"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":true,"metricId":"a386d5ea-ea90-441a-8263-d816368c84a1:ehnamespaceiothubfortest1cvkd5uh","serviceBusEndpoint":"https://ehNamespaceiothubfortest1000005.servicebus.windows.net:443/","isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Creating","status":"Creating","createdAt":"2025-11-07T20:28:00.7098007Z","updatedAt":"2025-11-07T20:28:00Z"},"sku":{"name":"Standard","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventHub/locations/westus2/namespaceOperationResults/61bb5498-131d-40f1-b86b-6bbcf466ec4c?isAsyncHeader=true&resourceName=ehNamespaceiothubfortest1000005&resourceType=namespace&api-version=2024-05-01-preview&operationType=Active&t=638981440809862552&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcmEgQ0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.EventHub/locations/westus2/namespaceOperationResults/61bb5498-131d-40f1-b86b-6bbcf466ec4c?isAsyncHeader=true&resourceName=ehNamespaceiothubfortest1000005&resourceType=namespace&api-version=2024-05-01-preview&operationType=Active&t=638981440809862552&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPy[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000005?api-version=2024-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000005","name":"ehNamespaceiothubfortest1000005","type":"Microsoft.EventHub/Namespaces","location":"westus2","tags":{},"properties":{"errors":[],"geoDataReplication":{"maxReplicationLagDurationInSeconds":0,"locations":[{"locationName":"westus2","roleType":"Primary","replicaState":"Ready"}]},"minimumTlsVersion":"1.2","publicNetworkAccess":"Enabled","disableLocalAuth":false,"zoneRedundant":true,"metricId":"a386d5ea-ea90-441a-8263-d816368c84a1:ehnamespaceiothubfortest1cvkd5uh","serviceBusEndpoint":"https://ehNamespaceiothubfortest1000005.servicebus.windows.net:443/","isAutoInflateEnabled":false,"maximumThroughputUnits":0,"kafkaEnabled":true,"provisioningState":"Succeeded","status":"Active","createdAt":"2025-11-07T20:28:00.7098007Z","updatedAt":"2025-11-07T20:28:26Z"},"sku":{"name":"Standard","tier":"Standard","capacity":1}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - f8da8021-bde7-49d2-9628-1f2ec88fcbcc
      x-ms-messaging-routing-id:
      - PROD|WESTUS2|WESTUS2|G0|2025-11-07T20:28:32
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000005/eventhubs/eventHubiothubfortest000006?api-version=2024-05-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000005/eventhubs/eventHubiothubfortest000006","name":"eventHubiothubfortest000006","type":"Microsoft.EventHub/namespaces/eventhubs","location":"westus2","properties":{"messageTimestampDescription":{"timestampType":"LogAppend"},"retentionDescription":{"cleanupPolicy":"Delete","retentionTimeInHours":168},"messageRetentionInDays":7,"partitionCount":4,"status":"Active","createdAt":"2025-11-07T20:28:34.09Z","updatedAt":"2025-11-07T20:28:34.37Z","partitionIds":["0","1","2","3"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - 0f72d7c2-82ba-4291-8b7e-b8421a4b0719
      x-ms-messaging-routing-id:
      - PROD|WESTUS2|WESTUS2|G14|2025-11-07T20:28:34
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"rights": ["Send"]}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000005/eventhubs/eventHubiothubfortest000006/authorizationRules/eventHubPolicyiothubfortest?api-version=2023-01-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000005/eventhubs/eventHubiothubfortest000006/authorizationRules/eventHubPolicyiothubfortest","name":"eventHubPolicyiothubfortest","type":"Microsoft.EventHub/namespaces/eventhubs/authorizationrules","properties":{"rights":["Send"]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - f15ae713-a3c6-4163-83c7-7323ffb256dd
      x-ms-messaging-routing-id:
      - PROD|WESTUS2|WESTUS2|G6|2025-11-07T20:28:35
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.EventHub/namespaces/ehNamespaceiothubfortest1000005/eventhubs/eventHubiothubfortest000006/authorizationRules/eventHubPolicyiothubfortest/listKeys?api-version=2023-01-01-preview
  response:
    body:
      string: '{"primaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest1cvkd5uh.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=mock_key;EntityPath=eventHubiothubfortest000006","secondaryConnectionString":"Endpoint=sb://ehnamespaceiothubfortest1cvkd5uh.servicebus.windows.net/;SharedAccessKeyName=eventHubPolicyiothubfortest;SharedAccessKey=mock_key;EntityPath=eventHubiothubfortest000006","primaryKey":"mock_key","secondaryKey":"mock_key","keyName":"eventHubPolicyiothubfortest"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-messaging-activity-id:
      - ee665edd-1276-4768-b110-c25ecfe37744
      x-ms-messaging-routing-id:
      - PROD|WESTUS2|WESTUS2|G4|2025-11-07T20:28:36
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "properties": {"eventHubEndpoints": {"events":
      {"retentionTimeInDays": 1, "partitionCount": 4}}, "storageEndpoints": {"$default":
      {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName": ""}}, "messagingEndpoints":
      {"fileNotifications": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H",
      "maxDeliveryCount": 10}}, "enableFileUploadNotifications": false, "cloudToDevice":
      {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H", "feedback": {"lockDurationAsIso8601":
      "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}}, "sku": {"name": "F1",
      "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11000003?api-version=2025-08-01-preview
  response:
    body:
      string: '{"code":400016,"httpStatusCode":400,"message":"Invalid PartitionCount
        4 - value must be between 2 and 2. If you contact a support representative
        please include this correlation identifier: 7e2b11b7-b10e-405f-a6da-57aba36d9444,
        timestamp: 2025-11-07 20:28:40Z, errorcode: IH400016."}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"location": "westus2", "properties": {"minTlsVersion": "2.5", "eventHubEndpoints":
      {"events": {"retentionTimeInDays": 1, "partitionCount": 4}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName":
      ""}}, "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601":
      "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount": 10}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 10, "defaultTtlAsIso8601": "PT1H",
      "feedback": {"lockDurationAsIso8601": "PT5S", "ttlAsIso8601": "PT1H", "maxDeliveryCount":
      10}}}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11000003?api-version=2025-08-01-preview
  response:
    body:
      string: '{"code":400089,"httpStatusCode":400,"message":"2.5 is not a valid MinTlsVersion
        value. If you contact a support representative please include this correlation
        identifier: 4aa151de-f3e6-4cb6-b585-6e21e52efdb4, timestamp: 2025-11-07 20:28:45Z,
        errorcode: IH400089."}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '799'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"location": "westus2", "properties": {"minTlsVersion": "1.2", "eventHubEndpoints":
      {"events": {"retentionTimeInDays": 3, "partitionCount": 4}}, "storageEndpoints":
      {"$default": {"sasTtlAsIso8601": "PT1H", "connectionString": "", "containerName":
      ""}}, "messagingEndpoints": {"fileNotifications": {"lockDurationAsIso8601":
      "PT15S", "ttlAsIso8601": "PT20H", "maxDeliveryCount": 79}}, "enableFileUploadNotifications":
      false, "cloudToDevice": {"maxDeliveryCount": 89, "defaultTtlAsIso8601": "PT23H",
      "feedback": {"lockDurationAsIso8601": "PT35S", "ttlAsIso8601": "P1DT5H", "maxDeliveryCount":
      40}}}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11000003?api-version=2025-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11000003","name":"iot-hub-for-test-11000003","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","properties":{"provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":3,"partitionCount":4}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT15S","ttlAsIso8601":"PT20H","maxDeliveryCount":79}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":89,"defaultTtlAsIso8601":"PT23H","feedback":{"lockDurationAsIso8601":"PT35S","ttlAsIso8601":"P1DT5H","maxDeliveryCount":40}},"features":"None","minTlsVersion":"1.2","allowedFqdnList":[]},"sku":{"name":"S1","tier":"Standard","capacity":1}}'
    headers:
      azure-asyncoperation:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/b3NfaWhfZTA1NWMyYWItMWRlZi00NzlmLWIzZjItY2Q2NGZmMmRlOWQz?api-version=2025-08-01-preview&operationSource=os_ih&asyncinfo&t=638981441546139896&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZIm[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/b3NfaWhfZTA1NWMyYWItMWRlZi00NzlmLWIzZjItY2Q2NGZmMmRlOWQz?api-version=2025-08-01-preview&operationSource=os_ih&asyncinfo&t=638981441546139896&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcm[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11000003?api-version=2025-08-01-preview
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11000003","name":"iot-hub-for-test-11000003","type":"Microsoft.Devices/IotHubs","location":"westus2","tags":{},"subscriptionid":"a386d5ea-ea90-441a-8263-d816368c84a1","resourcegroup":"clitest.rg000001","etag":"AAAAAAYAAAA=","properties":{"locations":[{"location":"West
        US 2","role":"primary"},{"location":"West Central US","role":"secondary"}],"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot-hub-for-test-11000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":3,"partitionCount":4,"partitionIds":["0","1","2","3"],"path":"iot-hub-for-test-11pltapc","endpoint":"sb://iothub-ns-iot-hub-fo-61470003-99316de477.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[],"cosmosDBSqlContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT15S","ttlAsIso8601":"PT20H","maxDeliveryCount":79}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":89,"defaultTtlAsIso8601":"PT23H","feedback":{"lockDurationAsIso8601":"PT35S","ttlAsIso8601":"P1DT5H","maxDeliveryCount":40}},"features":"RootCertificateV2","minTlsVersion":"1.2","allowedFqdnList":[],"rootCertificate":{"enableRootCertificateV2":true,"lastUpdatedTimeUtc":"2025-11-07T20:28:49.5359345Z"}},"sku":{"name":"S1","tier":"Standard","capacity":1},"identity":{"type":"None"},"systemData":{"createdAt":"2025-11-07T20:29:14.3733333Z"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-reads:
      - '16499'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2023-06-30-preview
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/thanacanary/providers/Microsoft.Devices/IotHubs/thanacanary","name":"thanacanary","type":"Microsoft.Devices/IotHubs","location":"centraluseuap","tags":{},"subscriptioni[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11000003/IotHubKeys/iothubowner/listkeys?api-version=2023-06-30-preview
  response:
    body:
      string: '{"keyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot-hub-for-test-11000003/listkeys?api-version=2023-06-30-preview
  response:
    body:
      string: '{"value":[{"keyName":"iothubowner","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"mock_key","secondaryKey":"mock_key","rights":"RegistryWrite"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/b3NfaWhfYmE0NzA1MzctZGE5Ni00ZjA5LWFjZTgtNjU0NDhhYmJlMWM3?api-version=2025-08-01-preview&operationSource=os_ih&asyncinfo&t=638981442751721017&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcm[...]
[...]
- request:
    body: '{"name": "iot-hub-for-test-11000003"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2025-08-01-preview
  response:
    body:
      string: '{"nameAvailable":false,"reason":"AlreadyExists","message":"IotHub name
        ''iot-hub-for-test-11000003'' is not available"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-subscription-global-writes:
      - '11999'
      x-ms-ratelimit-remaining-subscription-writes:
      - '799'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"location": "westus2", "tags": {"e": "f", "g": "h"}, "etag": "AAAAAAsAAAA=",
      "properties": {"disableLocalAuth": true, "disableModuleSAS": true, "allowedFqdnList":
      [], "ipFilterRules": [], "minTlsVersion": "1.0", "eventHubEndpoints": {"events":
      {"retentionTimeInDays": 4, "partitionCount": 4}}, "routing": {"endpoints": {"serviceBusQueues":
      [], "serviceBusTopics": [], "eventHubs": [], "storageContainers": [], "cosmosDBSqlContainers":
      []}, "routes": [], "fallbackRoute": {"name": "$fallback", "source": "DeviceMessages",
      "condition": "true", "endpointNames": ["events"], "isEnabled": true}}, "storageEndpoin[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/b3NfaWhfMDE5MGMxOTktMDJmYS00N2QxLTg0MmEtZjliMTdjNDM3NDJh?api-version=2025-08-01-preview&operationSource=os_ih&asyncinfo&t=638981443285649700&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcm[...]
[...]
- request:
    body: '{"location": "westus2", "tags": {"e": "f", "g": "h"}, "etag": "AAAAABAAAAA=",
      "properties": {"disableLocalAuth": true, "disableDeviceSAS": true, "disableModuleSAS":
      false, "allowedFqdnList": [], "ipFilterRules": [], "minTlsVersion": "1.0", "eventHubEndpoints":
      {"events": {"retentionTimeInDays": 4, "partitionCount": 4}}, "routing": {"endpoints":
      {"serviceBusQueues": [], "serviceBusTopics": [], "eventHubs": [], "storageContainers":
      [], "cosmosDBSqlContainers": []}, "routes": [], "fallbackRoute": {"name": "$fallback",
      "source": "DeviceMessages", "condition": "true", "endpointNames": ["events"],
      "is[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/locations/westus2/operationResults/b3NfaWhfNThkODZhYzEtYzc4Yi00NTRiLWEyYTgtMTk1YzBhNzJjZGJi?api-version=2025-08-01-preview&operationSource=os_ih&asyncinfo&t=638981444286670573&c=MIIHhzCCBm-gAwIBAgITfAldUuOkqyWaFWVmdAAACV1S4zANBgkqhkiG9w0BAQsFADBEMRMwEQYKCZImiZPyLGQBGRYDR0JMMRMwEQYKCZImiZPyLGQBGRYDQU1FMRgwFgYDVQQDEw9BTUUgSW5mcm[...]
[...]
- request:
    body: null
    headers:
    method: GET
[...]
